<div id="page" class="container-fluid contenedorprincipal" >
            <section role="main-content">
        		<div class="breadcrumb-class">
            	Está en:&nbsp;
           		<a href="#" target="_self" title="Inicio"><b>Inicio</b></a></div>
            	<br>
				
				<center>
				<div class="fondo">				
				  <h1>Director</h1>				  
				  <h3 class="jury">Tesis asignadas</h3>
				</div>
				</center>
				
				<center>
				<div class="panel fondo">
					<div>
					  <div class="scroll">

						<div class="Duno">
							<div class="jury">
								Nombre Trabajo de Grado:
							</div>
							
							<div class="jury">
								Estudiante:
							</div>
							
							<div class="jury">
								Descripción:
							</div>
							
							<button type="button" class="btn btn-default">Ver mas</button>	
							
						</div>

						<div class="Duno">
							<div class="jury">
								Nombre Trabajo de Grado:
							</div>
							
							<div class="jury">
								Estudiante:
							</div>
							
							<div class="jury">
								Descripción:
							</div>
							
							<button type="button" class="btn btn-default">Ver mas</button>
							
						</div>


						<div class="Duno">
							<div class="jury">
								Nombre Trabajo de Grado:
							</div>
							
							<div class="jury">
								Estudiante:
							</div>
							
							<div class="jury">
								Descripción:
							</div>
							
							<button type="button" class="btn btn-default">Ver mas</button>
							
						</div>


						<div class="Duno">
							<div class="jury">
								Nombre Trabajo de Grado:
							</div>
							
							<div class="jury">
								Estudiante:
							</div>
							
							<div class="jury">
								Descripción:
							</div>
							
							<button type="button" class="btn btn-default">Ver mas</button>
							
						</div>



					  </div>
					</div>
				</div>				
				</center>
				
				


            </section>
</div>