<div id="page" class="container-fluid contenedorprincipal" >
            <section role="main-content">
        		<div class="breadcrumb-class">
            	Está en:&nbsp;
           		<a href="#" target="_self" title="Inicio"><b>Inicio</b></a></div>
            	<br>
				
				<center>
				<div class="fondo">				
				  <h1>Director</h1>				  
				  <h3 class="jury">Tesis asignadas</h3>
				</div>
				</center>
				
				<center>
				<div class="panel fondo">
					<div>					  
					  
					  <div class="scroll">
					  
						<% @gradeworks.each do |gradework| %>	

						<div class="Duno">
							
							<form role="form" id="editForm" action="" method="post">
							<div class="form-group">
								<label for="editDoc">Nombre Trabajo de Grado:</label><br>
								<%=gradework.name%>
							</div>	
							
							<div class="form-group">
								<label for="editDoc">Estudiante:</label><br>
								Estudiante
								<!-- < gradework.users.where(users.roles.name: "Student").each do |estudiante| %>  <estudiante.name %><end%> -->
							</div>	
							
							<div class="form-group">
								<label for="editDoc">Descripción:</label><br>
								Descripción
							</div>	
							
							</form>		
							
							<button type="button" class="btn btn-default">Ver mas</button>	
							
						</div>
						
						<% end %>

					  </div>
					</div>
				</div>				
				</center>
				
				


            </section>
</div>