<div id="page" class="container-fluid contenedorprincipal" >
            <section role="main-content">
        		<div class="breadcrumb-class">
            	Está en:&nbsp;
           		<a href="#" target="_self" title="Inicio"><b>Inicio</b></a></div>
            	<br>

				<div class="tab">
				  <button class="tablinks" onclick="openItem(event, 'miTesis')" id="defaultOpen">Tesis</button>
				  <button class="tablinks" onclick="openItem(event, 'comentarios')">Comentarios</button>
				  <button class="tablinks" onclick="openItem(event, 'fechas')">Fechas</button>
				  <!-- <button class="tablinks" onclick="openItem(event, 'ayuda')">Ayuda</button> -->
				</div>

				<div class="relleno">
					<br><br></br></br>
					<h1>Vista en proceso</h1>

				</div>
				<div id="miTesis" class="panel panel-default">
				  <div id="miTesis1" class="panel-heading">
				    <center><h3 id="miTesis2" class="panel-title">Tesis</h3></center>
				  </div>
				  <div id="miTesis3" class="panel-body">
				  	
				  		<div class="tesis-text">
					  		<p>Descripcion de la tesis: </p>
					  	</div>
					  	<div class="tesis-text">
						  <p>Nombre: </p>
						</div>
						<div class="tesis-text">
						  <p>Director: </p>
						</div>
						<div class="tesis-text">
						  <p>Jurados: </p>
						</div>						  
						<div class="tesis-text">
						  <p>Fecha de Ingreso: </p>
						</div>
						<div class="tesis-text">
						  <p>Archivos: </p>
						 </div>
				  </div>
				</div>

				<div id="comentarios" class="panel panel-default">
				  <div id="comentarios1" class="panel-heading">
				    <center><h3 id="comentarios2" class="panel-title">Comentarios</h3></center>
				  </div>
				  <div id="comentarios3" class="panel-body">
				  	<div class=scroll>

					  	<div class="uno">
					  		<div class="jury">
					  			Pepito Perez	
					  		</div>
					  		<div class="comment">	
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado

					  		</div>
					  		<div class="fecha">
					  			10/04/2017
					  		</div>
					  	</div>

					  	<div class="uno">
					  		<div class="jury">
					  			Pepito Perez	
					  		</div>
					  		<div class="comment">	
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado

					  		</div>
					  		<div class="fecha">
					  			10/04/2017
					  		</div>
					  	</div>


					  	<div class="uno">
					  		<div class="jury">
					  			Pepito Perez	
					  		</div>
					  		<div class="comment">	
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado

					  		</div>
					  		<div class="fecha">
					  			10/04/2017
					  		</div>
					  	</div>


					  	<div class="uno">
					  		<div class="jury">
					  			Pepito Perez	
					  		</div>
					  		<div class="comment">	
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado
					  			 El trabajo ha sido revisado El trabajo ha sido revisado

					  		</div>
					  		<div class="fecha">
					  			10/04/2017
					  		</div>
					  	</div>
						
						<center>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Nuevo Comentario</button>
						</center>

						  <!-- Modal -->
						  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						    
						      <!-- Modal content-->
						      <div class="modal-content">
						        <div class="modal-header">
								
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h1 class="modal-title">Nuevo Comentario</h1>
						        </div>
						        <div class="modal-body">
						        	
						        	<form action="#.rb">									  
									  Descripcion:<br>
									  <textarea type="text" name="descripcion" class="input-modal-text"></textarea>
									  <br><br>
									  Archivo:<br>
									  <select name="archivo">
										   <option value="1">Tesis 1</option> 
										   <option value="2">Tesis 2</option> 
										   <option value="3">Tesis 3</option>
										   <option value="10">Tesis 4</option> 
										   <option value="11">Tesis 5</option> 
										   <option value="12">Tesis 6</option> 
									  </select>
									  <br><br>
									  <button type="submit" class="btn btn-default" data-dismiss="modal">Agregar</button>
									  <!-- <input type="submit" value="Agregar"> -->
									</form> 
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						        </div>
						      </div>					      
						    </div>
						  </div>



					</div>
				  </div>
				</div>

				<div id="fechas" class="panel panel-default">
				  <div id="fechas1" class="panel-heading">
				    <center><h3 id="fechas2" class="panel-title">Fechas</h3></center>
				  </div>
				  <div id="fechas3" class="panel-body">
				    
				  	<iframe id='cv_if1' src='http://cdn.instantcal.com/cvir.html?id=cv_nav1&theme=XGY&gtype=cv_monthgrid' allowTransparency='true' scrolling='no' frameborder=0 height=600 width=600></iframe>

				  </div>
				</div>
				


            </section>
</div>