<div id="page" class="container-fluid contenedorprincipal" >
    <section role="main-content">       

        <div class="breadcrumb-class">
            Está en:&nbsp;
            <a href="../" target="_self" title="Usuario">Usuario</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Editar</b></div>

            <div class="form-class">
				<h1>Editando Usuario</h1>

				<%= render 'form', user: @user, button_name: "Aceptar"  %>
				<center>
				<%= link_to 'Ver', @user %> |
				<%= link_to 'Atras', users_path %>
				</center>
			</div>

	</section>
</div>
