<div id="page" class="container-fluid contenedorprincipal" >
    <section role="main-content">       

        <div class="breadcrumb-class">
			Está en:&nbsp;
		   <a href="#" target="_self" title="Usario"><b>Crear Usario</b></a>
		</div>

        <div class="form-class">

			<h1>Crear Usuario</h1>

			<%= render 'form', user: @user, button_name: "Crear" %>

			<center><%= link_to 'Atras', users_path %></center>

		</div>



	</section>
</div>