
<body>

<div class="container-fluid contenedorprincipal">
	<div class="breadcrumb-class">
		Está en:&nbsp;
		<a href="../" target="_self" title="Inicio">Inicio</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Contáctenos</b></div>
		<br>

	<div class="row">
<!-- Formulario de contacto -->
		<div class="col-xs-12 col-sm-8 col-md-8 border-contact-form" >
			<h1>Información de contacto
 			</h1>

			<label class="labelform" for="asunto">Asunto*</label>
			<input class="cajatexto margen-input" type="text" placeholder="Asunto" name="cAsunto" value="" required="required" />

			<label class="labelform" for="comentarios">Escriba sus comentarios*</label>
    	<textarea class="cajatexto margen-input" type="text" placeholder="Comentarios.."  name="cComentarios"  style="width:350px; height:100px; text-size-adjust:100%" required="required"></textarea>

			<label class="labelform" for="nombre">Nombre*</label>
    	<input class="cajatexto margen-input" type="text" placeholder="Nombre" name="cNombre" value="" required="required"/>

			<label class="labelform" for="correo">Correo electronico*</label>
    	<input class="cajatexto margen-input" type="email" placeholder="Email" name="cCorreo" value="" required="required"/>


    	<label class="labelform" for="telefono">Telefono</label>
    	<input class="cajatexto margen-input" type="tel" placeholder="Telefono" name="cTelefono" value="" />

    	<a class="btn btn-primary margen-boton" name="enviar" href="#">Enviar</a>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 divisioncontact" >
    	<h2>Horario de atención</h2>
    	<br>
    	<p>Recepción telefónica Lunes a viernes, de 8 am a 5 pm.</p>
    	<p>Recepción digital Lunes a domingo, las 24 horas (diligenciando el formulario de buzón general).
    	</p>
    	<br>
    	<h2>Telefonos:</h2>
    	<p>-3204654876</p>
    </div>
	</div>
</div>
</body>
