
<body>

<div class="container-fluid contenedorprincipal">
	<div class="breadcrumb-class">
		Está en:&nbsp;
		<a href="../" target="_self" title="Inicio">Inicio</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Contáctenos</b></div>
		<br>

	<div class="row">
<!-- Formulario de contacto -->
		<div class="col-xs-12 col-sm-8 col-md-8" >
	<h1>Información de contacto
 	</h1>
	<br>
	Asunto* <br>
	<input class="cajatexto" type="text" placeholder="Asunto" name="cAsunto" value="" required="required" />
    <br>
    Escriba sus comentarios* <br>
    <textarea class="cajatexto" type="text" placeholder="Comentarios.."  name="cComentarios"  style="width:350px; height:100px; text-size-adjust:100%" required="required"></textarea>
		<br>
    Nombre* <br>
    <input class="cajatexto" type="text" placeholder="Nombre" name="cNombre" value="" required="required"/>
    <br>
    Correo electronico* <br>
    <input class="cajatexto" type="email" placeholder="Email" name="cCorreo" value="" required="required"/>
    <br>
    Telefono <br>
    <input class="cajatexto" type="tel" placeholder="Telefono" name="cTelefono" value="" />
    <br>
    <br/>
    <a class="btn btn-primary" name="enviar" href="#">Enviar</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4 divisioncontact" >
    <h2>Horario de atención
    </h2>
    <p>Recepción telefónica Lunes a viernes, de 8 am a 5 pm.</p>
    <p>Recepción digital Lunes a domingo, las 24 horas (diligenciando el formulario de buzón general).
    </p>
    <h2>Telefonos</h2>
    <p>3204654876</p>
    </div>
</div></div>
</body>
