
<body>

<div class="contenedorprincipal">

	<div class="divisioncontact">
    <h2>Horario de atención
    </h2>
    <p>Recepción telefónica Lunes a viernes, de 8 am a 5 pm.</p>
    <p>Recepción digital Lunes a domingo, las 24 horas (diligenciando el formulario de buzón general).
    </p>
    <h2>Telefonos</h2>
    <p>3204654876</p>
    </div>

	<h1>Información de contacto
 	</h1>
	<br>
	Asunto <br>
	<input class="cajatexto" type="text" placeholder="Asunto" name="cAsunto" value="" />
    <br>
    Escriba sus comentarios* <br>
    <input class="cajatexto" type="text" placeholder="Comentarios.." name="cComentarios" style="width:400px; height:50px;" value="" />
    <br>
    Nombre* <br>
    <input class="cajatexto" type="text" placeholder="Nombre" name="cNombre" value="" />
    <br>
    Correo electronico* <br>
    <input class="cajatexto" type="email" placeholder="Email" name="cCorreo" value="" />
    <br>
    Telefono <br>
    <input class="cajatexto" type="tel" placeholder="Telefono" name="cTelefono" value="" />
    <br>
    <br/>
    <input type="button" name="enviar"  value="Enviar" />





</div>
</body>
