


        <div id="page" class="container-fluid contenedorprincipal" >
            <section role="main-content">
        <div class="breadcrumb-class">
            Está en:&nbsp;
           <a href="home/index.html" target="_self" title="Inicio"><b>Inicio</b></a></div>
            		<br>


<!--Seccion Login            -->
<div class="row" style="margin-top: 20px;">

<div class=" DIV_LOG col-sm-5 col-md-3" >
	<div class = "DIV_LogTop">
        <h1 class = "LoginTitle">Entrar</h1>
    </div>
<!--Login-->   
	<div style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px;">
        <form id="FORM_8" method="post" action="https://campus.virtual.unal.edu.co/login/index.php">
		  <div>
		  <label for="login_username">Nombre de usuario</label>
        <input class="cajatexto" style="width:169.656px; margin-left:auto; margin-right:auto;"  type="text" placeholder="Usuario" name="username" id="INPUT_11"  />
		  </div>
		  <div>
		  <label for="login_password">Contraseña</label>
				<input class="cajatexto" style="width:169.656px; margin-left:auto; margin-right:auto;" type="password" placeholder="Contraseña" name="password" id="INPUT_14"/>
		  </div>
		  <div class="remember-password">
				<input type="checkbox" name="rememberusername" value="1" class = "LogOptions" /> Recordar nombre de usuario
		  </div>
		  <div>
				<input type="submit" class= "btn btn-primary " value="Acceder" />
		  </div>
		</form>
		  <div>
			<a href="https://campus.virtual.unal.edu.co/login/forgot_password.php" class="LogOptions">¿Ha extraviado la contraseña?</a>
		  </div>
	</div>
</div>


<!--Seccion iconos-->

<div class="col-sm-9 col-md-9" >

        <div style="margin-bottom: 20px;">
            <h1 class="home-title" style="text-align: center">Bienvenidos y bienvenidas</h1>
            <p>La tesis de maestría es una de las modalidades de grado que ofrece la Universidad Nacional. Por medio de esta plataforma se realiza un manejo más sencillo de la información acerca de las tesis, estudiantes que las presentan y los jurados que las evalúan. Se facilita al usuario el manejo de información y de esta forma se automatiza el proceso de solicitúd, creación y seguimiento de tesis.
            </p>

          <br>
        </div>


        <div class = "row">
    <div class="row bottom-gap">
        <div class="col-md-2 col-md-offset-3 text-center">
            <i class="fa fa-graduation-cap fa-5x FaiconColor" aria-hidden="true"></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-de-sistemas-y-computacion" class="link-info">Ingeniería de Sistemas</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-address-book fa-5x FaiconColor" aria-hidden="true"></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-ambiental" class="link-info">Ingeniería Ambiental</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-bar-chart fa-5x FaiconColor" aria-hidden="true" ></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-agricola" class="link-info">Ingeniería Agrícola</a>
        </div>

        </div>
    <div class="row bottom-gap">
        <div class="col-md-2 col-md-offset-3 text-center">
            <i class="fa fa-book fa-5x FaiconColor" aria-hidden="true"></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-electronica" class="link-info">Ingeniería Electrónica</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-calendar-check-o fa-5x FaiconColor" aria-hidden="true"></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-electrica" class="link-info">Ingeniería Eléctrica</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-industry fa-5x FaiconColor" aria-hidden="true"></i>
            <a href="https://www.ingenieria.bogota.unal.edu.co/formacion/maestrias/ms-en-ingenieria-ing-industrial" class="link-info">Ingeniería Industrial</a>
        </div>

        </div>
    <div class="row text-center">


        </div>
</div></div>
                </div>
            </section>
        </div>