<!DOCTYPE html>

<html lang="en">


    <body>
        <div id="page" class="container-fluid contenedorprincipal">
            <section role="main-content">
        <div class="breadcrumb-class">
            Está en:&nbsp;
           <a href="home/index.html" target="_self" title="Inicio"><b>Inicio</b></a></div>
            		<br>
                <div class="row">

<!--Seccion Login            -->
<div class="row">

<div class=" DIV_LOG col-sm-5 col-md-3" style="border:1px solid #000; ">
	<div>
        <h1>Entrar</h1>
    </div>
	<div>
        <form id="FORM_8" method="post" action="https://campus.virtual.unal.edu.co/login/index.php">
		  <div>
		  <label for="login_username">Nombre de usuario</label>
        <input class="cajatexto" style="width:169.656px; margin-left:auto; margin-right:auto;"  type="text" placeholder="Usuario" name="username" id="INPUT_11"  />
		  </div>
		  <div>
		  <label for="login_password">Contraseña</label>
				<input class="cajatexto" style="width:169.656px; margin-left:auto; margin-right:auto;" type="password" placeholder="Contraseña" name="password" id="INPUT_14"/>
		  </div>
		  <div>
				<br>
					<input type="checkbox" name="rememberusername" id="INPUT_17" value="1" /> Recordar nombre de usuario
				<br>
		  </div>
		  <div>
				<input type="submit" class= "btn btn-primary" value="Acceder" id="INPUT_19" />
		  </div>
		</form>
		  <div>
			<a href="https://campus.virtual.unal.edu.co/login/forgot_password.php" id="A_21">¿Ha extraviado la contraseña?</a>
		  </div>
	</div>
</div>


<!--Seccion iconos-->

<div class="col-sm-9 col-md-9" >

        <div>
            <h1 style="text-align: center">Bienvenidos y bienvenidas</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem quam, tempus quis tortor non, molestie tristique lorem. Quisque facilisis lorem non consectetur sodales. Fusce eros purus, dictum a ornare ut, lobortis ac neque. Donec non tellus accumsan lacus suscipit laoreet id vitae augue. Donec pretium neque vitae nunc hendrerit, at maximus urna ornare. Nunc eget ligula lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum consequat purus eu vestibulum pulvinar. Ut ac elit ipsum. Donec facilisis ut nisi a pretium.
            <a  href="contact_us/index.html">Ingresar</a>
            </p>

          <br>
        </div>


        <div class = "row">
    <div class="row bottom-gap">
        <div class="col-md-2 col-md-offset-3 text-center">
            <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>

        </div>
    <div class="row bottom-gap">
        <div class="col-md-2 col-md-offset-3 text-center">
            <i class="fa fa-book fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-calendar-check-o fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>
        <div class="col-md-2 text-center">
            <i class="fa fa-industry fa-5x" aria-hidden="true"></i>
            <a href="" class="link-info">Link</a>
        </div>

        </div>
    <div class="row text-center">
        <a class="btn btn-primary" href="contact_us/index.html">
            Ingresar
        </a>

        </div>
</div></div>
                </div>
            </section>
        </div>
    </body>
</html>
