<div class="container content-temp">
	<div class="row bottom-gap">
		<div class="text-center col-md-8 col-md-offset-2">
			<h4>Bienvenidos y bienvenidas</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem quam, tempus quis tortor non, molestie tristique lorem. Quisque facilisis lorem non consectetur sodales. Fusce eros purus, dictum a ornare ut, lobortis ac neque. Donec non tellus accumsan lacus suscipit laoreet id vitae augue. Donec pretium neque vitae nunc hendrerit, at maximus urna ornare. Nunc eget ligula lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum consequat purus eu vestibulum pulvinar. Ut ac elit ipsum. Donec facilisis ut nisi a pretium.</p>
		</div>
	</div>
	<div class="row bottom-gap">
		<div class="col-md-2 col-md-offset-3 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
		<div class="col-md-2 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
		<div class="col-md-2 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
	</div>
	<div class="row bottom-gap">
		<div class="col-md-2 col-md-offset-3 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
		<div class="col-md-2 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
		<div class="col-md-2 text-center">
			<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
			<a href="" class="link-info">Link</a>
		</div>
	</div>
	<div class="row text-center">
        <a class="btn btn-primary" href="#">Test</a>
		<button type="button" class="home-button">
			Ingresar
		</button>
	</div>
</div>