<div class="main-container">
    <div class="container-header">
        <h1>Administrador</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="button" class="general-circle-button users-button" onclick="link_to_users()">
                </button>

                <p class="text-button-admin">Usuarios<p>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <button type="button" class="general-circle-button thesis-button" onclick="link_to_grades()">
                </button>
                <p class="text-button-admin">Tesis<p>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <button type="button" class="general-circle-button mail-button">
                </button>
                <p class="text-button-admin">Recordatorios<p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="button" class="general-circle-button statistics-button">
                </button>
                <p class="text-button-admin">Estadisticas<p>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <button type="button" class="general-circle-button calendar-button">
                </button>
                <p class="text-button-admin">Calendario<p>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <button type="button" class="general-circle-button exit-button">
                </button>
                <p class="text-button-admin">Salir<p>
            </div>
        </div>
    </div>
</div>