<div class="container-fluid contenedorprincipal">
	<section role="main-content">
	    <div class="breadcrumb-class">
	        Está en:&nbsp;
	        <a href="#" target="_self" title="Inicio"><b>Inicio</b></a>
	    </div>
	    <br>
		<div class="col-md-6 col-md-offset-3 form-container-gradework">
			<h1>Nueva Tesis</h1>
			<%= render 'form', gradework: @gradework, button_name: "Crear" %>
			<div class="text-center">
				<%= link_to 'Atras', gradeworks_path %>
			</div>
		</div>
	</section>
</div>
