<div class="container">

			<div style="padding: 10px; float: right; width: 30%; text-align: justify;">

			 	<h2>Horario de atención
			 	</h2>
			 	<p>Recepción telefónica Lunes a viernes, de 8 am a 5 pm.</p>
			 	<p>Recepción digital Lunes a domingo, las 24 horas (diligenciando el formulario de buzón general).
			 	</p>
			 	<h2>Telefonos</h2>
			 	<p>32046</p>
			</div>

			 <div class="content">
			 	<h1>Información de contacto
			 	</h1>

			 	Asunto* <br/>
			 	<input type="text" name="casunto" value="" />
			 	<br/>

			 	Escriba sus comentarios* <br/>
			 	<input type="text" name="ccomentarios" style="width:400px; height:50px" value="" />
			 	<br/>

			 	Nombre* <br/>
			 	<input type="text" name="cnombre" value="" />
			 	<br/>

			 	Correo electronico* <br/>
			 	<input type="email" name="ccorreo" value="" />
			 	<br/>

			 	Telefono <br/>
			 	<input type="tel" name="ctelefono" value="" />
			 	<br/>

			 	<br/>
			 	<input type="button" name="enviar" value="Enviar" />
			 	</div>

	 </div>
