// Place all the styles related to the Administrator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-button{
    background: url(/images/students.jpg);
}

.thesis-button{
    background: url(/images/thesis.jpeg);
}

.mail-button{
    background: url(/images/mail.jpeg);
}

.statistics-button{
    background: url(/images/statistics.jpeg);
}

.calendar-button{
    background: url(/images/calendar.jpeg);
}

.edit-button{
    background: url(/images/edit.jpg);
}

.exit-button{
    background: url(/images/exit.jpg);
}

.text-button-admin{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 25px;
    width: 175px;
}