
.divisioncontact{
	padding: 10px;
	text-align:
	justify;
}
.labelform{
	margin: 10px 0 0 20px;
}
.margen-boton{
	margin: 15px 0 25px 20px;
}
.margen-input{
	margin: 0 0 0 20px;
}

.border-contact-form
{
	border-right: 1px solid #adadad;
	padding-left: 35px !important;
	margin-bottom: 25px;
}