@charset "utf-8";
/* CSS Document */
/*#page, .pagelayout-redirect {
    padding-top: 10px;
}*/
body{
	color: #38393A;
    background-color: #dddddd;
	font-family: Verdana;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 20px;
    text-shadow: none;
    font-size: 14px;
    font-weight: 400;
	text-size-adjust: 100%;
}
h1{
	color: rgb(79, 79, 79);
	font-size:24px;
	}
h2 {
    margin-top: 1.3em;
}

.contenedorprincipal {
    max-width: 800px;
	margin-left:auto;
	margin-right:auto;
	
}

.cajatexto{
    display: block;
    height: 20px;
    text-size-adjust: 100%;
    width: 268.984px;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
	border-radius:5px;
}

.divisioncontact{
	padding: 10px; 
	float: right; 
	width: 30%; 
	text-align: 
	justify;
}