// Place all the styles related to the ContactUs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$color_silver_approx: #bcbcbc;
$black_6: rgba(0, 0, 0, 0.06);
$black: #000000;
$color_log_cabin_approx: #222;


//fonts
$font_0: Verdana;
$font_1: sans-serif;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6

container {
	margin-top: 100px;
	width: 960px;
	margin: 0 auto;
}
content {
	padding: 10px 0;
	width: 780px;
	float: right;
}
