// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#DIV_3 {
    color: rgb(56, 57, 58);
    height: 32px;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(56, 57, 58);
    perspective-origin: 84.8281px 20px;
    transform-origin: 84.8281px 20px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(56, 57, 58);
    font: normal normal normal normal 13px / 18px Verdana;
    outline: rgb(56, 57, 58) none 0px;
    padding: 4px;
}



.button{
	width: 120px;
	height: 30px;
	border: 0px solid;
	border-radius: 10px;
	font-size: 18px;
}

.home-button{
	@extend .button;
	text-align: center;
	margin-top: 30px;
}

.bottom-gap{
	margin-bottom: 20px;
}

.content-temp{
	margin-top: 100px;
}

.link-info{
	display: block;
}
