// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
	width: 120px;
	height: 30px;
	border: 0px solid;
	border-radius: 10px;
	font-size: 18px;
}

.home-button{
	@extend .button;
	text-align: center;
	margin-top: 30px;
}

.bottom-gap{
	margin-bottom: 20px;
}

.content-temp{
	margin-top: 100px;
}

.link-info{
	display: block;
}

.span9{
    border: 1px solid #000;
    width: 935px;
}

.span3{
}

.container-fluid {
    max-width: 1200px;
}

#DIV_LOG {
    text-align: center;
    min-width: 257.4px;
}