$font-stack:    Verdana;
$background-color: #e5e5e5;
$secondary-color: #666;
$normal-text-color: #000000;

body {
    font: 100% $font-stack;
    color: $normal-text-color !important;
    background-color: $background-color !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 20px;
    text-shadow: none;
    font-size: 14px;
    font-weight: 400;
    text-align:justify;
}


a{
	color: $normal-text-color !important;
}

h1{
	color: rgb(79, 79, 79);
	font-size:24px;
	}

h2 {
  color: rgb(79, 79, 79);
  font-size:21px;
  margin-top: 1.3em;
}
h3 {
  color: rgb(79, 79, 79);
  font-size:19px;
  margin-top: 1.3em;
}
.btn {
    padding: 4px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 30px;
}

.btn-primary {

    background:  #0e84b1;
    color: #ffffff !important;
}


.contenedorprincipal {
    max-width: 1000px;
	margin-left:auto;
	margin-right:auto;

}

.cajatexto{
    display: block;
    height: 27px;
    text-size-adjust: 100%;
    width: 268.984px;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
	border-radius:5px;
}

.breadcrumb-class {
    font-size:13px;
    line-height: 30px;
    color: #323232;
    margin: 50px 0 0 0;
    border-bottom: 1px dotted #646464;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-md"] {
        width: 100%;
    }
}
