// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	font-size:50px;
	}

.centro {
	margin: auto;
    width: 50%;
    padding: 10px;
}


.bottomright {
    position: absolute;
    bottom: 5px;
    right: 0%;
	font-size:30px;
}

.inputLeft {	
	font-size:30px;	
    position: absolute;
    left: 50%;	
}

.mar{
	position: relative;
	margin: 10px;	
}

.fontSizeU{
	font-size:30px;
    margin: 10px;
	}

.delete-button{
    background: url(/images/delete.png);
}
	
	
@media only screen and (max-width: 992px) {
    /* media: */
    .inputLeft {	
	font-size:15px;
	position: static;
	}
}