<form role="form" id="newForm" action="users" method="get" style="width: 80%">
  <input type="text" class="form-control pull-right" placeholder="Nombre" name="filter" >
  <input type="text" class="form-control pull-right" placeholder="Identification" name="identification" >
  <button type="submit" class="btn btn-success pull-right">Buscar</button>
</form>